.hidden{
    display: none;
}
body{
    text-align: center;
    margin-top: 400px;
    /*font-size: 20px;*/
    font-weight: bold;
}
.bgimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 1.5s linear;
}
.cl{
    color: white;
}